
.arrow-overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #507DBC;

  width: 100%;
  height: 100%;
}

.arrow {
  height: 50%;
  width: auto;
  display: flex;
  align-items: center;
}

.arrow-img {
  height: 50%;
}